
HelloWorld/.vs/HelloWorld/v16/.suo
HelloWorld/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.vb
HelloWorld/bin/Debug/HelloWorld.exe
HelloWorld/bin/Debug/HelloWorld.pdb
HelloWorld/bin/Debug/HelloWorld.xml
HelloWorld/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HelloWorld/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HelloWorld/obj/Debug/HelloWorld.exe
HelloWorld/obj/Debug/HelloWorld.Form1.resources
HelloWorld/obj/Debug/HelloWorld.pdb
HelloWorld/obj/Debug/HelloWorld.Resources.resources
HelloWorld/obj/Debug/HelloWorld.vbproj.CoreCompileInputs.cache
HelloWorld/obj/Debug/HelloWorld.vbproj.FileListAbsolute.txt
HelloWorld/obj/Debug/HelloWorld.vbproj.GenerateResource.cache
HelloWorld/obj/Debug/HelloWorld.vbprojAssemblyReference.cache
HelloWorld/obj/Debug/HelloWorld.xml
HelloWorld/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
